<div class="row">
    <div class="col-lg-6">
        <form method="get" class="form-horizontal" ng-submit="saveAndClose()" name="addForm">
            <div class="form-group">
                <label class="col-sm-4 control-label">型号</label>
                <div class="col-sm-8">
                    <select class="form-control" ng-disabled="disabled">
                        <option>请选择</option>
                        <option>SZP1-1U</option>
                        <option>SZF10-1</option>
                        <select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">名称</label>
                <div class="col-sm-8">
                    <select class="form-control" ng-disabled="disabled">
                        <option>请选择</option>
                        <option>Y38-193</option>
                        <option>X38-191</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">编号</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">装配完成日期</label>
                <div class="col-sm-8">
                    <input type="date" class="form-control" ng-model="data.jobTitle" name="jobTitle" required>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">出厂日期</label>
                <div class="col-sm-8">
                    <input type="date" class="form-control" ng-model="data.jobTitle" name="jobTitle" required>

                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">出口管理人</label>
                <div class="col-sm-8">
                    <select class="form-control" ng-disabled="disabled">
                        <option>请选择</option>
                        <option>张三</option>
                        <option>李四</option>
                    <select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">测量仪监制人</label>
                <div class="col-sm-8">
                    <select class="form-control" ng-disabled="disabled">
                        <option>请选择</option>
                        <option>张三</option>
                        <option>李四</option>
                    <select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">温度/电导率/压力/其它探头型号</label>
                <div class="col-sm-8">
                    <p class="form-control-static"><a ui-sref="last.measureDetail">温度/电导率/压力/其它探头型号</a></p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">温度/电导率/压力/其它探头编号</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">结构部件型号</label>
                <div class="col-sm-8">
                    <p class="form-control-static"><a ui-sref="last.structureDetail">结构部件型号</a></p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">结构部件编号</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">电路部件型号</label>
                <div class="col-sm-8">
                    <p class="form-control-static"><a ui-sref="last.circuitDetail">电路部件型号</a></p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">电路部件编号</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">防污染部件编号</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control">
                </div>
            </div>
            <div style="border: 1px solid red">
                if(电路部件的电极类型为"感应耦合调制解调器——感应传输电路")
                <div class="form-group">
                    <label class="col-sm-4 control-label">基础板版本号</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">基础板编号</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">感应传输板版本号</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">感应传输板编号</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-4 control-label">控制板版本号</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">控制板编号</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-4 control-label">数据采集板版本号</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">数据采集板编号</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-4 control-label">高精压力板版本号</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">高精压力板编号</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control">
                    </div>
                </div>

            </div>
            <div style="border: 1px solid red">if(测量参数包含电导率)
            <div class="form-group">
                <label class="col-sm-4 control-label">电导池类型</label>
                <div class="col-sm-8">
                    <select class="form-control" ng-disabled="disabled">
                        <option>请选择</option>
                        <option>三电极</option>
                        <option>四电极f</option>
                        <option>七电极</option>
                        <option>感应电极</option>
                        <option>Argo专用</option>
                        <option>Glider专用</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">电导池编号</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" ng-model="data.jobTitle" name="jobTitle" required>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">电导率板类型</label>
                <div class="col-sm-8">
                    <select class="form-control" ng-disabled="disabled">
                        <option>请选择</option>
                        <option>GP cond</option>
                        <option>Argo cond</option>
                        <option>Gel cond</option>
                    <select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">电导率板编号</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" required>
                </div>
            </div>
            </div>
            <div style="border: 1px solid red">
                if(测量参数包含温度)
            <div class="form-group">
                <label class="col-sm-4 control-label">温度探头类型</label>
                <div class="col-sm-8">
                    <select class="form-control" ng-disabled="disabled">
                        <option>请选择</option>
                        <option>型号一</option>
                        <option>型号二</option>
                    <select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">温度探头编号</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" required>
                </div>
            </div>
            </div>
            <div class="form-group">
                <div class="col-sm-8 col-sm-offset-4">
                    <button class="btn btn-primary" ng-hide="addForm.$submitted" type="submit"><i
                        class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;&nbsp;保存
                    </button>
                    <button ng-disabled="true" ng-show="addForm.$submitted" class="btn btn-primary" type="button">
                        &nbsp;&nbsp;数据正在处理...
                    </button>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-8 col-sm-offset-4">
                    <div ng-bind="info" class="text-success"></div>
                </div>
            </div>
        </form>
    </div>
</div>


