<div class="row">
    <div class="col-lg-6">
        <form method="get" class="form-horizontal" ng-submit="saveAndClose()" name="addForm">
            <div class="form-group">
                <label class="col-sm-4 control-label">型号</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">名称</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">输入类型</label>
                <div class="col-sm-8">
                    <input type="radio" ng-model="one" name="common" value="1"> 测量仪器
                    <input type="radio" ng-model="one" name="common" value="0"> 非测量仪器
                </div>
            </div>
            <div ng-show="one == 1">
                <div class="form-group">
                    <label class="col-sm-4 control-label">测量参数</label>
                    <div class="col-sm-8">
                        <input type="checkbox" name="addForm" required> 温度
                        <input type="checkbox" name="addForm" required> 电导率
                        <input type="checkbox" name="addForm" required> 压力
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">存储模式</label>
                    <div class="col-sm-8">
                        <select class="form-control" ng-disabled="disabled">
                            <option>请选择</option>
                            <option>直读</option>
                            <option>自熔</option>
                            <option>兼容</option>
                            <option>感应传输</option>
                            <select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">存储介质</label>
                    <div class="col-sm-8">
                        <div class="col-sm-8">
                            <input type="checkbox" name="addForm" required> CF/TF/CSD
                            <input type="checkbox" name="addForm" required> 内置flash
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">备注</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" required>
                    </div>
                </div>
            </div>
            <div ng-hide="one == 1">
                <div class="form-group">
                <label class="col-sm-4 control-label">特性描述</label>
                <div class="col-sm-8">
                    <textarea class="form-control"></textarea>

                </div>
            </div>
                </div>

            <div class="form-group">
                <div class="col-sm-8 col-sm-offset-4">
                    <button class="btn btn-primary" ng-hide="addForm.$submitted" type="submit"><i
                        class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;&nbsp;保存
                    </button>
                    <button ng-disabled="true" ng-show="addForm.$submitted" class="btn btn-primary" type="button">
                        &nbsp;&nbsp;数据正在处理...
                    </button>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-8 col-sm-offset-4">
                    <div ng-bind="info" class="text-success"></div>
                </div>
            </div>
        </form>
    </div>
</div>

